
body{
    color:rgb(38, 16, 91);
    background-color:rgb(175, 202, 227);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
}

#title{
    background-color: white;
    text-decoration: underline;
    text-align: center;
}

#booklist{
    font-weight: lighter;
}

#jumpbutton{
    background-color:white;
    float:inline-end;
}

#returnbutton{
    background-color:white;
    float: inline-end;
}

#image{
    border: 5px solid white;
    padding: 20px;
    border-style:solid;
}